@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'League Spartan', sans-serif; 
}

body {
    font-size: 15px;

}

section {
    background-image: url(images/bg-pattern-top-desktop.svg);
    min-height: 1000vh;
    background-repeat: no-repeat;
}

.row {
    max-width: 80%;
    margin: 0 auto 80px auto;

}

.top-layer {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
}

.main-text {
    flex-basis: 50%;
}

.main-text h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;

}

.main-text p {
    color: hsl(303, 10%, 53%);
    line-height: 150%;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    padding: 25px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.rating1 {
    right: 90px;
}
.rating2 {
    right: 50px;
}
.rating3 {
    right: 0px;
}

.rating p {
    font-weight: bold;
    color:hsl(300, 43%, 22%);
    margin-left: 15px;
}

/* Bottom Part */

.bottom-layer {
    display: flex;
    position: relative;
    top: 50px;
    bottom: 50px;
}

.card {
    background-color: hsl(300, 43%, 22%);
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    position: relative;
}

.card2 {
    top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.card3 {
    top: 30px;

}

.card-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 150%;

}

.card-info .info {
    margin-left: 20px;
    line-height: 150%;
}

.card-info .info h2 {
    color: #fff;
    font-size: 15px;
}

.card-info .info p {
    color: #fff;
}

.card-info .info .pink {
    color: hsl(300, 80%, 67%);
}

.card q {
    color: #fff;
    font-size: 22px;
}

.card q p {
    color:#fff;
    display: inline;
    font-size: 14px;

}

.card img{
    border-radius: 50%;
    width: 50px;
}

.card .card-content {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    section {
        background-image: url(images/bg-pattern-top-mobile.svg);
    }

    .top-layer {
        flex-direction: column;
    }

    .main-text {
        text-align: center;
    }

    .main-text h1 {
        font-size: 30px;
    }

    .main-text p {  
        font-size: 13px;
        padding: 20px 0; 
    }

    .rating {
        position: relative;
        right: 0;
        flex-direction: column;
    }

    .rating .img-star {
        margin-bottom: 10px;
    }

    .bottom-layer {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-top: 20px;
    }

    .card3 {
        margin-bottom: 20px;
    }


}